<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>About</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
      </head>
      <body>
        <a href="/home">Back to Home Page</a>
        <h1>About</h1>
        <p>The About page for James Dean</p>
        <br>
        <p>James Dean starred in the film adaptation of the John Steinbeck novel East of Eden, for which he received a posthumous Oscar nomination. Dean's next starring role as an emotionally tortured teen in Rebel Without a Cause made him into the embodiment of his generation. In early autumn 1955, Dean was killed in a car crash, quickly becoming a film icon whose legacy has endured for decades. His final film, Giant, was also released posthumously.</p>
        <img src="/images/james-dean-open-shirt.jpg" alt="james-dean-open-shirt"/>
      </body>
    </html>