<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>James Dean</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>The homepage of James Dean</h1>
    <ul>
      <li><a href="/about">See About Page</a></li>
      <li><a href="/photo-gallery">See Photo Gallery Page</a></li>
      <li><a href="/works">See Works Page</a></li>
    </ul>
    <br>
    <p>Movie actor and cultural icon James Dean starred in 'East of Eden,' 'Rebel Without a Cause' and 'Giant.' He was killed in a tragic car accident at age 24.</p>
    <img src="/images/james-dean-homepage-image.jpg" alt="james-dean-homepage-image"/>
  </body>
</html>
