<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Photo Gallery</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
      </head>
      <body>
        <a href="/home">Back to Home Page</a>
        <h1>Photo Gallery</h1>
        <p>The photo gallery page of James Dean</p>
        <img src="/images/james-dean-cig-whiteT.jpg" alt="james-dean-cig-whiteT"/>

        <div id="banner">
          <div class="inline-block">
            <img src="/images/james-dean-black-sweater.jpg" alt="james-dean-black-sweater" width="350" height="450"/>
          </div>

          <div class="inline-block">
            <img src="/images/james-dean-cig-color.jpg" alt="james-dean-cig-color" width="350" height="450"/>
          </div>

          <div class="inline-block">
            <img src="/images/james-dean-scowl.jpg" alt="james-dean-scowl" width="350" height="450"/>
          </div>
      </body>
    </html>